[dev1]
aws_access_key_id=AKIASJ63S7OEICYSDBOQ
aws_secret_access_key=OPg2ulVRZtMO
time_wasted=h9bb8yqVB6NFbjHEXkLdu/OQ5ZAR

[dev2]
aws_access_key_id=AKIASJ63S7OEJZRTRUAH
aws_secret_access_key=jY9CQ3vQ7u6fr0SAQ9
time_wasted=p5Hyj1V6z4FiOMtg+Jm132


[dev3]
aws_access_key_id=AKIASJ63S7OELLLITV5H
aws_secret_access_key=YsiIwcQ5zKO+2I9g
time_wasted=jjuFu0UaVlPgwvnXa/3zgqw3
