[dev1]
aws_access_key_id=AKIASJ63S7OEICYSDBOQ
aws_secret_access_key=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY

[dev2]
aws_access_key_id=AKIASJ63S7OEJZRTRUAH
aws_secret_access_key=je7MtGbClwBF/2Zp9Utk/h3yCo8nvbEXAMPLEKEY


[dev3]
aws_access_key_id=AKIASJ63S7OELLLITV5H
aws_secret_access_key=je7MtGbClwBF/2Zp9Utk/h3yCo8nvbEXAMPLEKEY